version: "3.9"

services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    image: planservicioia.azurecr.io/fastapi-gemini:${TAG}
    container_name: fastapi_app
    volumes:
      - ./data:/app/data
    ports:
      - "8000:8000"
    env_file:
      - .env
    command: uvicorn app:app --host 0.0.0.0 --port 8000
